.photobox{
    display: inline-block;
  }
.photobox__previewbox{
    position: relative;
    overflow: hidden;
  }
.photobox__preview{
    display: block;
    max-width: 100%;
    height: auto;
  }
.photobox__previewbox:before{
    content: "";
  }
.photobox_type11 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    
    background-color: var(--photoboxOverlay,);
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
    transform: translate(-50%, -50%) scale(0);
    will-change: transform;
  }
  
  .photobox_type11:hover .photobox__previewbox:before{
    transform: translate(-50%, -50%) scale(4);
    transition-duration: var(--photoboxAnimationDuration, .8s);
  }
  
  .photobox_type11 .photobox__label{
    width: 95%;
    text-align: center;
    
    transform: translate(-200%, -50%);
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease-out;
    will-change: transform;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
  }
  
  .photobox_type11:hover .photobox__label{
    transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 4);
    transform: translate(-50%, -50%);
  }
  
  .photobox_type11 .photobox__preview{
      transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
      transform: scale(1);
  }
  
  .photobox_type11:hover .photobox__preview{
    transform: scale(1.2);
  }